<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbProfitUserMapper">

    <resultMap type="TbProfitUser" id="TbProfitUserResult">
        <result property="userId" column="user_id"/>
        <result property="userCode" column="user_code"/>
        <result property="parentCode" column="parent_code"/>
        <result property="username" column="username"/>
        <result property="mobile" column="mobile"/>
        <result property="password" column="password"/>
        <result property="userType" column="user_type"/>
        <result property="userStatus" column="user_status"/>
        <result property="isAuth" column="is_auth"/>
        <result property="userMoney" column="user_money"/>
        <result property="userReturnMoney" column="user_return_money"/>
        <result property="isFirstFill" column="is_first_fill"/>
        <result property="totalMoneyMonth" column="total_money_month"/>
        <result property="totalMoney" column="total_money"/>
        <result property="payPwd" column="pay_pwd"/>
        <result property="version" column="version"/>
        <result property="bindTime" column="bind_time"/>
        <result property="isHf" column="is_hf"/>
        <result property="isTx" column="is_tx"/>
        <result property="isNoLimit" column="is_no_limit"/>
        <result property="createTime" column="create_time"/>
        <result property="isExamine" column="is_examine"/>
        <result property="btcCode" column="btc_code"/>
        <result property="userLevel" column="user_level"/>
        <result property="userGpfg" column="user_gpfg"/>
        <result property="userJbMoney" column="user_jb_money"/>
        <result property="userYlMoney" column="user_yl_money"/>
        <result property="userSyMoney" column="user_sy_money"/>

    </resultMap>

    <sql id="selectTbProfitUserVo">
        select user_jb_money, user_yl_money, user_sy_money, user_id, user_code, btc_code, user_gpfg, user_level, parent_code, username, mobile, password, user_type,is_examine, user_status, is_auth, user_money, user_return_money, is_first_fill, total_money_month, total_money, pay_pwd, version, bind_time, is_hf, is_tx, is_no_limit, create_time from tb_profit_user
    </sql>

    <select id="getRootUser" resultMap="TbProfitUserResult">
        <include refid="selectTbProfitUserVo"/>
        where parent_code is null limit 1
    </select>

    <select id="selectTbProfitUserList" parameterType="TbProfitUser" resultMap="TbProfitUserResult">
        <include refid="selectTbProfitUserVo"/>
        <where>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="userCode != null  and userCode != '' ">and user_code = #{userCode}</if>
            <if test="parentCode != null  and parentCode != '' ">and parent_code = #{parentCode}</if>
            <if test="username != null  and username != '' ">and username = #{username}</if>
            <if test="mobile != null  and mobile != '' ">and mobile = #{mobile}</if>
            <if test="password != null  and password != '' ">and password = #{password}</if>
            <if test="userType != null ">and user_type = #{userType}</if>
            <if test="userStatus != null ">and user_status = #{userStatus}</if>
            <if test="btcCode != null ">and btc_code = #{btcCode}</if>
            <if test="userLevel != null and userLevel != ''">and user_level = #{userLevel}</if>
            <if test="userGpfg != null ">and user_gpfg = #{userGpfg}</if>
            <if test="userJbMoney != null ">and user_jb_money = #{userJbMoney}</if>
            <if test="userYlMoney != null ">and user_yl_money = #{userYlMoney}</if>
            <if test="userSyMoney != null ">and user_sy_money = #{userSyMoney}</if>
            <if test="isAuth != null ">and is_auth = #{isAuth}</if>
            <if test="userMoney != null ">and user_money = #{userMoney}</if>
            <if test="userReturnMoney != null ">and user_return_money = #{userReturnMoney}</if>
            <if test="isFirstFill != null ">and is_first_fill = #{isFirstFill}</if>
            <if test="totalMoneyMonth != null ">and total_money_month = #{totalMoneyMonth}</if>
            <if test="totalMoney != null ">and total_money = #{totalMoney}</if>
            <if test="payPwd != null  and payPwd != '' ">and pay_pwd = #{payPwd}</if>
            <if test="version != null ">and version = #{version}</if>
            <if test="bindTime != null ">and bind_time = #{bindTime}</if>
            <if test="isHf != null ">and is_hf = #{isHf}</if>
            <if test="isTx != null ">and is_tx = #{isTx}</if>
            <if test="isNoLimit != null ">and is_no_limit = #{isNoLimit}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="isExamine != null ">and is_examine = #{isExamine}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectTbProfitUserById" parameterType="Long" resultMap="TbProfitUserResult">
        <include refid="selectTbProfitUserVo"/>
        where user_id = #{userId}
    </select>

    <select id="selectTbProfitUserByUserCode" parameterType="String" resultMap="TbProfitUserResult">
        <include refid="selectTbProfitUserVo"/>
        where user_code = #{userCode}
    </select>

    <insert id="insertTbProfitUser" parameterType="TbProfitUser" useGeneratedKeys="true" keyProperty="userId">
        insert into tb_profit_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userCode != null  and userCode != ''  ">user_code,</if>
            <if test="parentCode != null  and parentCode != ''  ">parent_code,</if>
            <if test="username != null  and username != ''  ">username,</if>
            <if test="mobile != null  and mobile != ''  ">mobile,</if>
            <if test="password != null  and password != ''  ">password,</if>
            <if test="userType != null  ">user_type,</if>
            <if test="isExamine != null ">is_examine,</if>
            <if test="userStatus != null  ">user_status,</if>
            <if test="btcCode != null  ">btc_code,</if>
            <if test="userLevel != null and userLevel != ''">user_level,</if>
            <if test="userGpfg != null ">user_gpfg,</if>
            <if test="isAuth != null  ">is_auth,</if>
            <if test="userMoney != null  ">user_money,</if>
            <if test="userReturnMoney != null  ">user_return_money,</if>
            <if test="isFirstFill != null  ">is_first_fill,</if>
            <if test="totalMoneyMonth != null  ">total_money_month,</if>
            <if test="totalMoney != null  ">total_money,</if>
            <if test="payPwd != null  and payPwd != ''  ">pay_pwd,</if>
            <if test="version != null  ">version,</if>
            <if test="bindTime != null  ">bind_time,</if>
            <if test="isHf != null  ">is_hf,</if>
            <if test="isTx != null  ">is_tx,</if>
            <if test="isNoLimit != null  ">is_no_limit,</if>
            <if test="createTime != null  ">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userCode != null  and userCode != ''  ">#{userCode},</if>
            <if test="parentCode != null  and parentCode != ''  ">#{parentCode},</if>
            <if test="username != null  and username != ''  ">#{username},</if>
            <if test="mobile != null  and mobile != ''  ">#{mobile},</if>
            <if test="password != null  and password != ''  ">#{password},</if>
            <if test="userType != null  ">#{userType},</if>
            <if test="isExamine != null ">is_examine,</if>
            <if test="userStatus != null  ">#{userStatus},</if>
            <if test="btcCode != null  ">#{btcCode},</if>
            <if test="userLevel != null and userLevel != ''">#{userLevel},</if>
            <if test="userGpfg != null ">#{userGpfg},</if>
            <if test="isAuth != null  ">#{isAuth},</if>
            <if test="userMoney != null  ">#{userMoney},</if>
            <if test="userReturnMoney != null  ">#{userReturnMoney},</if>
            <if test="isFirstFill != null  ">#{isFirstFill},</if>
            <if test="totalMoneyMonth != null  ">#{totalMoneyMonth},</if>
            <if test="totalMoney != null  ">#{totalMoney},</if>
            <if test="payPwd != null  and payPwd != ''  ">#{payPwd},</if>
            <if test="version != null  ">#{version},</if>
            <if test="bindTime != null  ">#{bindTime},</if>
            <if test="isHf != null  ">#{isHf},</if>
            <if test="isTx != null  ">#{isTx},</if>
            <if test="isNoLimit != null  ">#{isNoLimit},</if>
            <if test="createTime != null  ">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateTbProfitUser" parameterType="TbProfitUser">
        update tb_profit_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userCode != null  and userCode != ''  ">user_code = #{userCode},</if>
            <if test="parentCode != null  and parentCode != ''  ">parent_code = #{parentCode},</if>
            <if test="username != null  and username != ''  ">username = #{username},</if>
            <if test="mobile != null  and mobile != ''  ">mobile = #{mobile},</if>
            <if test="password != null  and password != ''  ">password = #{password},</if>
            <if test="isExamine != null ">is_examine = #{isExamine},</if>
            <if test="userType != null  ">user_type = #{userType},</if>
            <if test="userStatus != null  ">user_status = #{userStatus},</if>
            <if test="isAuth != null  ">is_auth = #{isAuth},</if>
            <if test="btcCode != null  ">btc_code=#{btcCode},</if>
            <if test="userLevel != null and userLevel != ''">user_level=#{userLevel},</if>
            <if test="userGpfg != null ">user_gpfg = #{userGpfg},</if>
            <if test="userJbMoney != null ">user_jb_money = #{userJbMoney}</if>
            <if test="userYlMoney != null ">user_yl_money = #{userYlMoney}</if>
            <if test="userSyMoney != null ">user_sy_money = #{userSyMoney}</if>
            <if test="userMoney != null  ">user_money = #{userMoney},</if>
            <if test="userReturnMoney != null  ">user_return_money = #{userReturnMoney},</if>
            <if test="isFirstFill != null  ">is_first_fill = #{isFirstFill},</if>
            <if test="totalMoneyMonth != null  ">total_money_month = #{totalMoneyMonth},</if>
            <if test="totalMoney != null  ">total_money = #{totalMoney},</if>
            <if test="payPwd != null  and payPwd != ''  ">pay_pwd = #{payPwd},</if>
            <if test="version != null  ">version = #{version},</if>
            <if test="bindTime != null  ">bind_time = #{bindTime},</if>
            <if test="isHf != null  ">is_hf = #{isHf},</if>
            <if test="isTx != null  ">is_tx = #{isTx},</if>
            <if test="isNoLimit != null  ">is_no_limit = #{isNoLimit},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <update id="updateMoney" parameterType="java.util.Map">
        update tb_profit_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userMoney != null  and userMoney != ''  ">user_money = #{userMoney},</if>
            <if test="userYlMoney != null  and userYlMoney != ''  ">user_yl_money = #{userYlMoney},</if>
            <if test="userSyMoney != null  and userSyMoney != ''  ">user_sy_money = #{userSyMoney},</if>
            <if test="userTotalMoney != null  and userTotalMoney != ''  ">total_money = #{userTotalMoney},</if>
            <if test="version != null  and version != ''  ">version = #{version} + 1,</if>
        </trim>
        where version = #{version} and user_code = #{userCode}
    </update>

    <delete id="deleteTbProfitUserById" parameterType="Long">
        delete from tb_profit_user where user_id = #{userId}
    </delete>

    <delete id="deleteTbProfitUserByIds" parameterType="String">
        delete from tb_profit_user where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

</mapper>