<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserFeedbackMapper">
    
    <resultMap type="UserFeedback" id="UserFeedbackResult">
        <result property="id"    column="id"    />
        <result property="content"    column="content"    />
        <result property="replayContent"    column="replay_content"    />
        <result property="feedCode"    column="feed_code"    />
        <result property="createTime"    column="create_time"    />
        <result property="ansTime"    column="ans_time"    />
        <result property="hashCode"    column="hash_code"    />
        <result property="userCode"    column="user_code"    />
    </resultMap>
	
	<sql id="selectUserFeedbackVo">
        select id, content, replay_content, feed_code, create_time, ans_time, hash_code, user_code from user_feedback
    </sql>
	
    <select id="selectUserFeedbackList" parameterType="UserFeedback" resultMap="UserFeedbackResult">
        <include refid="selectUserFeedbackVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="replayContent != null  and replayContent != '' "> and replay_content = #{replayContent}</if>
             <if test="feedCode != null  and feedCode != '' "> and feed_code = #{feedCode}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="ansTime != null "> and ans_time = #{ansTime}</if>
             <if test="hashCode != null  and hashCode != '' "> and hash_code = #{hashCode}</if>
             <if test="userCode != null  and userCode != '' "> and user_code = #{userCode}</if>
         </where>
         order by create_time desc
    </select>
    
    <select id="selectUserFeedbackById" parameterType="Long" resultMap="UserFeedbackResult">
        <include refid="selectUserFeedbackVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserFeedback" parameterType="UserFeedback" useGeneratedKeys="true" keyProperty="id">
        insert into user_feedback
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="content != null  and content != ''  ">content,</if>
			<if test="replayContent != null  and replayContent != ''  ">replay_content,</if>
			<if test="feedCode != null  and feedCode != ''  ">feed_code,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="ansTime != null  ">ans_time,</if>
			<if test="hashCode != null  and hashCode != ''  ">hash_code,</if>
			<if test="userCode != null  and userCode != ''  ">user_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="replayContent != null  and replayContent != ''  ">#{replayContent},</if>
			<if test="feedCode != null  and feedCode != ''  ">#{feedCode},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="ansTime != null  ">#{ansTime},</if>
			<if test="hashCode != null  and hashCode != ''  ">#{hashCode},</if>
			<if test="userCode != null  and userCode != ''  ">#{userCode},</if>
         </trim>
    </insert>
	 
    <update id="updateUserFeedback" parameterType="UserFeedback">
        update user_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="replayContent != null  and replayContent != ''  ">replay_content = #{replayContent},</if>
            <if test="feedCode != null  and feedCode != ''  ">feed_code = #{feedCode},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="ansTime != null  ">ans_time = #{ansTime},</if>
            <if test="hashCode != null  and hashCode != ''  ">hash_code = #{hashCode},</if>
            <if test="userCode != null  and userCode != ''  ">user_code = #{userCode},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteUserFeedbackById" parameterType="Long">
        delete from user_feedback where id = #{id}
    </delete>
	
    <delete id="deleteUserFeedbackByIds" parameterType="String">
        delete from user_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>