<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改用户投资')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-syInvestment-edit" th:object="${syInvestment}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">投资记录编码：</label>
            <div class="col-sm-8">
                <input id="investmentCode" disabled name="investmentCode" th:field="*{investmentCode}"
                       class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">投资商品金额：</label>
            <div class="col-sm-8">
                <input id="investmentMoney" disabled name="investmentMoney" th:field="*{investmentMoney}"
                       class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">当前费率：</label>
            <div class="col-sm-8">
                <input id="investmentRate" disabled name="investmentRate" th:field="*{investmentRate}"
                       class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">转换金额：</label>
            <div class="col-sm-8">
                <input id="revertMoney" disabled name="revertMoney" th:field="*{revertMoney}"
                       class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">投资人编码：</label>
            <div class="col-sm-8">
                <input id="userCode" disabled name="userCode" th:field="*{userCode}" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">付款账号：</label>
            <div class="col-sm-8">
                <input id="btcCode" disabled name="btcCode" th:field="*{btcCode}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">收款账号：</label>
            <div class="col-sm-8">
                <input id="platBtcCode" disabled name="platBtcCode" th:field="*{platBtcCode}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">投资时间：</label>
            <div class="col-sm-8">
                <input id="investmentTime" disabled name="investmentTime" th:field="*{investmentTime}"
                       class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">投资平台确认时间：</label>
            <div class="col-sm-8">
                <input id="comfirmTime" disabled name="comfirmTime" th:field="*{comfirmTime}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">账单确认</label>
            <div class="col-sm-8">
                <select name="platformComfirm" class="form-control m-b platformComfirm">
                    <option value="">----请选择账单确认状态----</option>
                    <option text="待平台确认" value="0" selected="*{platformComfirm == 0 ? selected : ''}"
                            th:field="*{platformComfirm}">待平台确认
                    </option>
                    <option text="平台已确认" value="1" selected="*{platformComfirm == 1 ? selected : ''}"
                            th:field="*{platformComfirm}">平台已确认
                    </option>
                    <option text="平台已确认" value="-1" selected="*{platformComfirm == -1 ? selected : ''}"
                            th:field="*{platformComfirm}">订单错误
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">错误订单描述：</label>
            <div class="col-sm-8">
                <input id="failDesc" placeholder="审核失败请填写审核失败原因" name="failDesc" th:field="*{failDesc}"
                       class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">转账凭证：</label>
            <div class="col-sm-8">

                <image th:src="*{tkUrl}" id="Img" style="cursor: pointer"/>

            </div>
        </div>
    </form>

    <div id="ShowImage_Form" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
        </div>
        <div class="modal-body">
            <div id="img_show">
            </div>
        </div>
    </div>


</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    $(function () {
        imgenlarge('Img');

        var message = [[${syInvestment.platformComfirm}]];
        if (0 === message) {
            $('.platformComfirm').attr("disabled", false);
        }else{
            $('.platformComfirm').attr("disabled", "disabled");
        }
    });
    var prefix = ctx + "system/syInvestment";
    $("#form-syInvestment-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });


    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-syInvestment-edit').serialize());
        }
    }

    function imgenlarge(val) {
        var flag = true
        var img = document.getElementById(val)
        console.log("imgbyid", img)
        img.onclick = function () {
            var imgH = img.height
            var imgW = img.width
            if (flag) {
                flag = false
                img.height = imgH * 3
                img.width = imgW * 3
            } else {
                flag = true
                img.height = imgH / 3
                img.width = imgW / 3
            }
        }
    }
</script>
</body>
</html>
