<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增首页轮播图')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-syGoods-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">图片名称</label>
            <div class="col-sm-8">
                <input id="indexName" name="indexName" class="form-control" type="text">
            </div>
        </div>

        <input id="indexUrl" name="indexUrl" value="" class="form-control" type="hidden">

        <div class="form-group">
            <label class="col-sm-3 control-label">状态 0- 展示中 -1-已关闭：</label>
            <div class="col-sm-8">
                <div class="input-group" style="width: 100%">
                    <select name="state" class="form-control m-b">
                        <option value="">----请选择状态----</option>
                        <option text="在售中" value="0">展示中</option>
                        <option text="已下架" value="-1">已关闭</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="font-noraml">轮播图片</label>
            <div class="file-loading">
                <input id="fileinput-demo-1" type="file">
            </div>
        </div>
    </form>
</div>



<div th:include="include::footer"></div>
<th:block th:include="include :: bootstrap-fileinput-js"/>

<script type="text/javascript">
    $(document).ready(function () {
        var img_1 = $("#indexUrl").val();
        var tmp_img_1 = {caption: 'headimg_', width: '120px', url: '/common/file/del', key: 0};
        var uploadUrl = ctx + "common/upload";
        alert(uploadUrl)
        $("#fileinput-demo-1").fileinput({
            'theme': 'explorer-fas',
            'uploadUrl': uploadUrl,
            uploadExtraData:{"type":"0"},
            overwriteInitial: false,
            initialPreviewAsData: true,
            maxFileCount: 1,
            showUpload: false,
            dropZoneEnabled: false,
            initialPreview: [
                img_1
            ],
            initialPreviewConfig:[tmp_img_1]
        }).on("fileuploaded", function (e, data, previewiId, index) {
            var response = data.response;        // 响应
            if (response.code == 0) {
                var imgurl = response.url;
                $("#indexUrl").val(imgurl);
            }
        }).on('filebeforedelete', function (e, data, previewId, key) {
            var aborted = !window.confirm('确定要删除此图片?');
            if (aborted) {
                window.alert('File deletion was aborted! ');
            }
            return aborted;
        }).on('filedeleted', function (event, key) {
            $("#indexUrl").val("");
            setTimeout(function () {
                window.alert('图片删除成功 ');
            }, 500);
        });
    });


    var prefix = ctx + "system/syIndexInfo";
    $("#form-syGoods-add").validate({
        rules:{
            xxxx:{
                required:true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-syGoods-add').serialize());
        }
    }
</script>


</body>
</html>
