<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改用户基本')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-tbProfitUser-edit" th:object="${tbProfitUser}">
        <input id="userId" name="userId" th:field="*{userId}" type="hidden">

        <div class="form-group">
            <label class="col-sm-3 control-label">收款地址：</label>
            <div class="col-sm-8">
                <input id="btcCode" disabled name="btcCode" th:field="*{btcCode}" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">用户编码：</label>
            <div class="col-sm-8">
                <input id="userCode" disabled name="userCode" th:field="*{userCode}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邀请人编码：</label>
            <div class="col-sm-8">
                <input id="parentCode" disabled name="parentCode" th:field="*{parentCode}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户名：</label>
            <div class="col-sm-8">
                <input id="username" disabled name="username" th:field="*{username}" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">用户状态：</label>
            <div class="col-sm-8">
                <select name="userStatus" class="form-control m-b">
                    <option value="">----请选择用户状态----</option>
                    <option text="待平台确认" value="0" selected="*{userStatus == 0 ? selected : ''}"
                            th:field="*{userStatus}">正常
                    </option>
                    <option text="平台已确认" value="-1" selected="*{userStatus == -1 ? selected : ''}"
                            th:field="*{userStatus}">锁定
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">用户级别：</label>
            <div class="col-sm-8">
                <select name="userLevel" class="form-control m-b">
                    <option value="">----请选择用户级别----</option>
                    <option text="V0" value="0" selected="*{userLevel == 0 ? selected : ''}"
                            th:field="*{userLevel}">V0
                    </option>
                    <option text="V1" value="1" selected="*{userLevel == 1 ? selected : ''}"
                            th:field="*{userLevel}">V1
                    </option>
                    <option text="V2" value="2" selected="*{userLevel == 2 ? selected : ''}"
                            th:field="*{userLevel}">V2
                    </option>
                    <option text="V3" value="3" selected="*{userLevel == 3 ? selected : ''}"
                            th:field="*{userLevel}">V3
                    </option>
                    <option text="V4" value="4" selected="*{userLevel == 4 ? selected : ''}"
                            th:field="*{userLevel}">V4
                    </option>
                    <option text="V5" value="5" selected="*{userLevel == 5 ? selected : ''}"
                            th:field="*{userLevel}">V5
                    </option>
                    <option text="V6" value="6" selected="*{userLevel == 6 ? selected : ''}"
                            th:field="*{userLevel}">V6
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">钱包余额：</label>
            <div class="col-sm-8">
                <input id="userMoney" disabled name="userMoney" th:field="*{userMoney}" class="form-control"
                       type="text">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">注册时间：</label>
            <div class="col-sm-8">
                <input id="createTime" disabled name="createTime" th:field="*{createTime}" class="form-control"
                       type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/tbProfitUser";
    $("#form-tbProfitUser-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-tbProfitUser-edit').serialize());
        }
    }
</script>
</body>
</html>
