<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增公告')"/>
    <th:block th:include="include :: summernote-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-syNotice-add">
        <div class="form-group">
            <label class="col-sm-2 control-label">公告标题(英文)：</label>
            <div class="col-sm-10">
                <input id="noticeTitle" name="noticeTitle" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">公告标题(英文)：</label>
            <div class="col-sm-10">
                <input id="noticeTitleEn" name="noticeTitleEn" class="form-control" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">内容类型：</label>
            <div class="col-sm-10">
                <select name="noticeType" class="form-control m-b">
                    <option value="">----请选择内容类型----</option>
                    <option text="公告" value="0" >公告
                    </option>
                    <option text="简介" value="1" >简介
                    </option>
                    <option text="教程" value="2" >教程
                    </option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">公告内容(中文)：</label>
            <div class="col-sm-10">
                <input id="noticeContent" name="noticeContent" type="hidden">
                <div id="editor" class="summernote"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">公告内容(英文)：</label>
            <div class="col-sm-10">
                <input id="nc" name="nc" type="hidden">
                <div id="editor2" class="summernote2"></div>
            </div>
        </div>

    </form>
</div>
<div th:include="include::footer"></div>
<th:block th:include="include :: summernote-js"/>
<script type="text/javascript">
    var prefix = ctx + "system/syNotice"
    $("#form-syNotice-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    // 上传文件
    function sendFile(file, obj) {
        var data = new FormData();
        data.append("file", file);
        data.append("type", 0);
        $.ajax({
            type: "POST",
            url: ctx + "common/upload",
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            dataType: 'json',
            success: function(result) {
                if (result.code == web_status.SUCCESS) {
                    $(obj).summernote('editor.insertImage', result.url, result.fileName);
                } else {
                    $.modal.alertError(result.msg);
                }
            },
            error: function(error) {
                $.modal.alertWarning("图片上传失败。");
            }
        });
    }

    function submitHandler() {
        if ($.validate.form()) {
            var sHTML = $('.summernote').summernote('code');
            $("#noticeContent").val(sHTML);

            var sHTML = $('.summernote2').summernote('code');
            $("#nc").val(sHTML);

            $.operate.save(prefix + "/add", $('#form-syNotice-add').serialize());
        }
    }

    $(document).ready(function () {
        $('.summernote').summernote({
            placeholder: '请输入公告内容',
            height: 192,
            lang: 'zh-CN',
            followingToolbar: false,
            callbacks: {
                onImageUpload: function (files) {
                    sendFile(files[0], this);
                }
            }
        });

        $('.summernote2').summernote({
            placeholder: 'please input content of english',
            height: 192,
            lang: 'en-US',
            followingToolbar: false,
            callbacks: {
                onImageUpload: function (files) {
                    sendFile(files[0], this);
                }
            }
        });
    });
</script>
</body>
</html>
