<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<body class="gray-bg">
<div class="wrapper wrapper-content">

    <div class="row" style="border-bottom: #1cc09f 2px solid">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">未确认</span>
                    <h5>日总收入</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.nowDayNoComfireOrderTotal}]] <span
                            style="color: #1a2226; font-size: 12px">rmb</span></h1>
                    <div class="stat-percent font-bold text-primary">当日未被确认的订单总额 <i class="fa fa-bolt"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">已确认</span>
                    <h5>日总收入</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.nowDayYesComfireOrderTotal}]] <span
                            style="color: #1a2226; font-size: 12px">rmb</span></h1>
                    <div class="stat-percent font-bold text-primary">当日已被确认的订单总额 <i class="fa fa-bolt"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-inverse pull-right">未确认</span>
                    <h5>月总收入</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.nowMonthNoComfireOrderTotal}]] <span
                            style="color: #1a2226; font-size: 12px">rmb</span></h1>
                    <div class="stat-percent font-bold text-success">当月未被确认(或错误)的订单总额 <i class="fa fa-bolt"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">已确认</span>
                    <h5>总收入</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.nowMonthYesComfireOrderTotal}]] <span
                            style="color: #1a2226; font-size: 12px">rmb</span></h1>
                    <div class="stat-percent font-bold text-success">已被确认的订单总额 <i class="fa fa-bolt"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="border-bottom: #1cc09f 2px solid">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">今天</span>
                    <h5>总用户(日)</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.newUserTotal}]]</h1>
                    <div class="stat-percent font-bold text-info">当天新注册的用户 <i class="fa fa-level-up"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">所有</span>
                    <h5>总用户(全)</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.userTotal}]]</h1>
                    <div class="stat-percent font-bold text-info">平台所有用户 <i class="fa fa-level-up"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="border-bottom: #1cc09f 2px solid">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">今天</span>
                    <h5>申请提现人数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.nowDayUserTxTotal}]]</h1>
                    <div class="stat-percent font-bold text-info">当天申请提现人数 <i class="fa fa-level-up"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">今天</span>
                    <h5>申请提现金额</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.nowDayUserTxMoney}]]</h1>
                    <div class="stat-percent font-bold text-info">当天申请提现金额 <i class="fa fa-level-up"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
        </div>


        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">今天</span>
                    <h5>通过申请提现人数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.nowDayPassUserTxTotal}]]</h1>
                    <div class="stat-percent font-bold text-info">当天通过申请提现人数 <i class="fa fa-level-up"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">今天</span>
                    <h5>通过申请提现金额</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.nowDayPassUserTxMoney}]]</h1>
                    <div class="stat-percent font-bold text-info">当天通过申请提现金额 <i class="fa fa-level-up"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">所有</span>
                    <h5>通过申请提现人数</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.allPassTxTotal}]]</h1>
                    <div class="stat-percent font-bold text-info">所有通过申请提现人数 <i class="fa fa-level-up"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">所有</span>
                    <h5>通过申请提现金额</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">[[${ret.allPassTxMoney}]]</h1>
                    <div class="stat-percent font-bold text-info">所有通过申请提现金额 <i class="fa fa-level-up"></i>
                    </div>
                    <small>说明</small>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="row" style="border-bottom: #1cc09f 2px solid">-->
<!--        <div class="col-sm-3">-->
<!--            <div class="ibox float-e-margins">-->
<!--                <div class="ibox-title">-->
<!--                    <span class="label label-danger pull-right">今天</span>-->
<!--                    <h5>净利润</h5>-->
<!--                </div>-->
<!--                <div class="ibox-content">-->
<!--                    <h1 class="no-margins">[[${ret.ftl}]]</h1>-->
<!--                    <div class="stat-percent font-bold text-info">净利润=总充值-提现数-用户账户总额度 <i class="fa fa-level-up"></i>-->
<!--                    </div>-->
<!--                    <small>说明</small>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="ibox float-e-margins">-->
<!--                <div class="ibox-title">-->
<!--                    <span class="label label-danger pull-right">今天</span>-->
<!--                    <h5>沉淀利润</h5>-->
<!--                </div>-->
<!--                <div class="ibox-content">-->
<!--                    <h1 class="no-margins">[[${ret.fxt}]]</h1>-->
<!--                    <div class="stat-percent font-bold text-info">沉淀利润=总充值-提现数 <i class="fa fa-level-up"></i>-->
<!--                    </div>-->
<!--                    <small>说明</small>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="col-sm-3">-->
<!--            <div class="ibox float-e-margins">-->
<!--                <div class="ibox-title">-->
<!--                    <span class="label label-info pull-right">所有</span>-->
<!--                    <h5>净利润</h5>-->
<!--                </div>-->
<!--                <div class="ibox-content">-->
<!--                    <h1 class="no-margins">[[${ret.ftlAll}]]</h1>-->
<!--                    <div class="stat-percent font-bold text-info">所有净利润 <i class="fa fa-level-up"></i>-->
<!--                    </div>-->
<!--                    <small>说明</small>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="ibox float-e-margins">-->
<!--                <div class="ibox-title">-->
<!--                    <span class="label label-info pull-right">所有</span>-->
<!--                    <h5>沉淀利润</h5>-->
<!--                </div>-->
<!--                <div class="ibox-content">-->
<!--                    <h1 class="no-margins">[[${ret.fxAll}]]</h1>-->
<!--                    <div class="stat-percent font-bold text-info">所有沉淀利润 <i class="fa fa-level-up"></i>-->
<!--                    </div>-->
<!--                    <small>说明</small>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


    </div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>

<th:block th:include="include :: sparkline-js"/>
<script type="text/javascript">



</script>
</body>
</html>
