<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改用户费率日志记录')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tbReturnRateLog-edit" th:object="${tbReturnRateLog}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">用户编码：</label>
				<div class="col-sm-8">
					<input id="userCode" name="userCode" th:field="*{userCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">所对应下单动作用户的编码：</label>
				<div class="col-sm-8">
					<input id="parentCode" name="parentCode" th:field="*{parentCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">所对应的费率：</label>
				<div class="col-sm-8">
					<input id="rate" name="rate" th:field="*{rate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">返佣多少：</label>
				<div class="col-sm-8">
					<input id="returnMoney" name="returnMoney" th:field="*{returnMoney}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单号：</label>
				<div class="col-sm-8">
					<input id="orderSn" name="orderSn" th:field="*{orderSn}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/tbReturnRateLog";
		$("#form-tbReturnRateLog-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-tbReturnRateLog-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
